name = "ParetoSmooth"
uuid = "a68b5a21-f429-434e-8bfa-46b447300aac"
authors = ["Carlos Parada <paradac@carleton.edu>"]
version = "0.2.3"

[deps]
AxisKeys = "94b1ba4f-4ee9-5380-92f1-94cde586c3c5"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
FFTW = "7a1cc6ca-52ef-59f5-83cd-3a7055c09341"
InteractiveUtils = "b77e0a4c-d291-57a0-90e8-8db25a27a240"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
LoopVectorization = "bdcacae8-1622-11e9-2a5c-532679323890"
MCMCDiagnosticTools = "be115224-59cd-429b-ad48-344e309966f0"
Polyester = "f517fe37-dbe3-4b94-8317-1923a5111588"
PrettyTables = "08abe8d2-0d0c-5749-adfa-8a2ac140af0d"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Requires = "ae029012-a4dd-5104-9daa-d747884805df"
SortingAlgorithms = "a2af1166-a08f-5f64-846c-94a0d3cef48c"
SortingLab = "562c1548-17b8-5b69-83cf-d8aebec229f5"
SpecialFunctions = "276daf66-3868-5448-9aa4-cd146d93841b"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"
Tables = "bd369af6-aec1-5ad0-b16a-f7cc5008161c"
Tullio = "bc48ee85-29a4-5162-ae0b-a64e1601d4bc"

[compat]
AxisKeys = "0.1.18"
Distributions = "0.25.10"
FFTW = "1.4.3"
LoopVectorization = "0.12.37"
MCMCDiagnosticTools = "0.1.0"
Polyester = "0.3.4"
PrettyTables = "1.1.0"
Requires = "1.1.3"
SortingLab = "0.2.8"
Tullio = "0.2.14"
julia = "1.6"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
