name = "ParetoSmooth"
uuid = "a68b5a21-f429-434e-8bfa-46b447300aac"
authors = ["Carlos Parada <cdp49@cam.ac.uk>"]
version = "0.7.14"

[deps]
AxisKeys = "94b1ba4f-4ee9-5380-92f1-94cde586c3c5"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
LogExpFunctions = "2ab3a3ac-af41-5b50-aa03-7779005ae688"
MCMCDiagnosticTools = "be115224-59cd-429b-ad48-344e309966f0"
NamedDims = "356022a1-0364-5f58-8944-0da4b18d706f"
PrettyTables = "08abe8d2-0d0c-5749-adfa-8a2ac140af0d"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Requires = "ae029012-a4dd-5104-9daa-d747884805df"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"

[weakdeps]
DynamicPPL = "366bfd00-2699-11ea-058f-f148b4cae6d8"
MCMCChains = "c7f686f2-ff18-58e9-bc7b-31028e88f75d"

[extensions]
ParetoSmoothDynamicPPLExt = ["DynamicPPL", "MCMCChains"]
ParetoSmoothMCMCChainsExt = "MCMCChains"

[compat]
AxisKeys = "0.1.18, 0.2"
DynamicPPL = "0.21 - 0.32, 0.33"
LogExpFunctions = "0.3"
MCMCChains = "6"
MCMCDiagnosticTools = "0.3.2"
NamedDims = "0.2.35, 1"
PrettyTables = "2.1,2.2"
Requires = "1.1.3"
Statistics = "<0.0.1, 1"
StatsBase = "0.33.10, 0.34"
julia = "1.6"

[extras]
CSV = "336ed68f-0bac-5ca0-87d4-7b16caf5d00b"
DataFrames = "a93c6f00-e57d-5684-b7b6-d8193f3e46c0"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
DynamicPPL = "366bfd00-2699-11ea-058f-f148b4cae6d8"
MCMCChains = "c7f686f2-ff18-58e9-bc7b-31028e88f75d"
RData = "df47a6cb-8c03-5eed-afd8-b6050d6c41da"
StatsFuns = "4c63d2b9-4356-54db-8cca-17b64c39e42c"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
TestSetExtensions = "98d24dd4-01ad-11ea-1b02-c9a08f80db04"

[targets]
test = ["CSV", "DataFrames", "Distributions", "DynamicPPL", "MCMCChains", "RData", "StatsFuns", "Test", "TestSetExtensions"]
